<title>Tyler Carberry</title>
<meta name="description" content="Android Developer">

<!-- Facebook Meta Tags (Meta Meta Tags) -->
<meta property="og:url" content="http://tylercarberry.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Tyler Carberry">
<meta property="og:description" content="Android Developer">
<meta property="og:image" content="https://tylercarberry.com/assets/social_share_image.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="tylercarberry.com">
<meta property="twitter:url" content="http://tylercarberry.com/">
<meta name="twitter:title" content="Tyler Carberry">
<meta name="twitter:description" content="Android Developer">
<meta name="twitter:image" content="https://tylercarberry.com/assets/social_share_image.jpg">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q3N9RM9J7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9Q3N9RM9J7');
</script>

<!-- Favicon -->
<link id="favicon" rel="icon">
<script>
	var emoji = Math.random() < 0.5 ? "🚗" : "🍓";
	document.getElementById("favicon").setAttribute("href", "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>" + emoji + "</text></svg>");
</script>
